<div class="container">
  <div class="pt-4">
    <h2>New Place</h2>

    <%= form_with model: @place do |form| %>
      <p>
        <%= form.label "name" %>
        <%= form.text_field "name" %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
  </div>
</div>